<!doctype html>
<html lang="en">
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="signup.css" rel="stylesheet">
    <title>Bank-System</title>
  </head>
  <body class="text-center">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Davidson Banking</a>
          <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="/signup" role="button">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" href="/login" role="button">Login</a>

            </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <main class="form-signin">
                <form method="post" action="/login">
                  <h1>Davidson Banking</h1>
                  <h1 class="h3 mb-3 fw-normal">Please Login</h1>
              
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username"> <!-- Added 'name' attribute for form field name -->
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"> <!-- Added 'name' attribute for form field name -->
                    <label for="floatingPassword">Password</label>
                  </div>
              
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                </form>
              </main>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}    
          </div>
          <div class="col">
          </div>
        </div>
      </div>

    
        
      
    
    </body>
</html>